<h1>Add Picture</h1>

<%= flash[:notice] %>

<%= form_for(@picture) do |f| %>

<%= f.label :name %><br>
<%= f.text_field :name %><br><br>

<%= f.label :description %><br>
<%= f.text_area :description %><br><br>

<%= f.label :owner %><br>
<%= f.text_field :owner %><br><br>

<%= f.label :url %><br>
<%= f.text_field :url %><br><br>


<%= f.submit  %>

		

<% end %>